@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply tracking-wide bg-[#151515] text-[#617278]
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl
  }

  h2{
    @apply text-2xl sm:text-3xl
  }

}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: "SFMono";
  src: url("../public/assets/fonts/SFMono/SFMono-Regular.ttf");
}
@font-face {
  font-family: "Calibre";
  src: url("../public/assets/fonts/Calibre/Calibre-Regular.ttf");
}

@font-face {
  font-family: "Calibre-semibold";
  src: url("../public/assets/fonts/Calibre/Calibre-Semibold.ttf");
}

@font-face {
  font-family: "SFMono-semibold";
  src: url("../public/assets/fonts/SFMono/SFMono-Semibold.ttf");
}

@font-face {
  font-family: air-light;
  src: url("../public/assets/fonts/AirLight/air-light.ttf");
}
